// 모달 컴포넌트
@use "../themes/set-color" as *;
@use "../abstracts/overlay" as *;

.modal {
  @include overlay;
  @include flex-center;
  
  &__content {
    background-color: $bg-primary;
    border-radius: $border-radius-lg;
    box-shadow: $shadow-lg;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
  }
} 